.page{
    margin-left: 230px;
    padding-left: 45px;
}
      
    .home-page{
       width: 95%;
       border: 1px solid $hover;
       border-radius: 20px 20px;
       height: 95vh;
       margin-top: 20px;
        h1{
            
            @include font-style(70px, center, 100px, $home-page-c);
        }
        h3{
            
            @include font-style(50px, center, 100px, $home-page-c);
        }
    }
    .about-page{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        background: white;
        color: rgb(36, 31, 31);
        h2 span{
            color: $hover;
            text-shadow: 0 0 50px $hover;
        }
    }
    .about-img{
        border-radius: 50%;
        margin-right: 30px;
    }
    .about-img img{
        position: relative;
        width: 32vw;
        border-radius: 50%;
        box-shadow: 0 0 25px $hover;
        top: 1rem;
        cursor: pointer;
        transition: 0.4s ease-in-out;
        &:hover{
            box-shadow: 0 0 50px $hover,
                        0 0 100px $hover;
        }
    }
    .heading{
        text-align: center;
        font-size: 8rem;
    }
    .about-content h2{
        text-align: center;
        line-height: 1.5;
    }
    .about-content h3{
        font-size: 2.6rem;
    }
    .about-content p{
        font-size: 1.6rem;
        margin: 2rem 0 3rem;
    }
    .about-content .text-animation span::before{
        content: "web Designer";
        color: $hover;
        animation: words 20s infinite;
    }
    
    .skills-page{
        width: 500px;
        height: 100vh;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 30px;
        h1{
            text-align: center;
            font-size: 50px;
        }
        h3{
            margin: 5px;
        }      
    }
    .skills-page li{
        margin: 50px 0;
        padding: 10px;
        margin-left: 50px;
    }
    .bar{
        background: #353b48;
        display: block;
        height: 20px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &:hover{
            box-shadow:  0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
        span{
            height: 20px;
            float: left;
            background: linear-gradient(135deg,rgb(155, 158, 163)0%, rgb(181, 192, 199)100%);
        }
    }
    .html{
        width: 90%;
        animation: html 3s;
    }
    .css{
        width: 70%;
        animation: css 3s;
    }
    .php{
        width: 45%;
        animation: php 3s;
    }
    .javascript{
        width: 60%;
        animation: javascript 3s;
    }
    @keyframes html{
        0%{
            width: 0%;
        }
        100%{
            width: 90%;
        }
    }
    @keyframes css{
        0%{
            width: 0%;
        }
        100%{
            width: 70%;
        }
    }
    @keyframes php{
        0%{
            width: 0%;
        }
        100%{
            width: 45%;
        }
    }
    @keyframes javascript{
        0%{
            width: 0%;
        }
        100%{
            width: 60%;
        }
    }
    .work-page{
        height: 100vh;
    }
    .contact-page{
        height: 100vh;
    }
    .contact-page h2{
            margin-bottom: 3rem;
            color:black;
        }
    .contact-page form{
            max-width: 70rem;
            margin: 1rem auto;
            text-align: center;
            margin-bottom: 3rem;
        }
    
    .contact-page form .input-box{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .contact-page form .input-box input,
    .contact-page form textarea{
        width: 90%;
        padding: 0.5rem;
        font-size: 0.9rem;
        color:rgba(34, 31, 31, 0.658);
        background: $bg;
        border-radius: 0.8rem;
        border: 2px solid $hover;
        margin: 1rem 0;
        resize: none;
    }
    .contact-page form .btn{
        margin-top: 1rem;
        background: $bg ;
        border-radius:50px ;
        border: 1px solid rgb(19, 18, 18);
    }